# --- Flutter & Dart ---
mandarina/.dart_tool/
mandarina/.packages
mandarina/build/
mandarina/.pub-cache/
mandarina/.env
mandarina/.vscode/

# --- Android Build Cache (Mandarina) ---
mandarina/android/app/build/
mandarina/android/.gradle/
*.log

# --- Firmware (ESP32/PlatformIO/Arduino) ---
firmware/.pio/
firmware/.vscode/
firmware/build/
*.bin
*.elf

# --- Hardware (Altium Designer) ---
# Ignora archivos de historial y backups pesados
hardware/History/
hardware/Project\ Outputs*/
hardware/__Preview/
*.PcbDoc.htm
*.ConstraintManager.txt
*.Logs

# --- Sistema ---
.DS_Store
Thumbs.db